@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
html, body{
    padding:0;
    margin :0;
    font-family:'Kanit', sans-serif !important;
    scroll-behavior: smooth;
}

.img {

    text-align: center;
    margin-top: 10vh;
    margin-bottom:10vh;
    
    
}


h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h2 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h3 { 
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


h6 {
  text-align: center;
}

p { 
    font-size:x-large;
}

.flagSquare  {
  width:25px;
  height: 25px;

}

.flag  {
  width:30px;
  height: 20px;

}

.logo {
  text-align: center;
  width: 75px;

}

.gbb {
  width: 30%;
}

.card {
  transition: transform .25s;
}

.fade-in-image {
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    text-align: center;
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
  .card:hover {  
    -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15); 
  transform: scale(1.15);
  }